<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Vote</h1>
    <form action="{% url 'display' %}" method="GET">
        {% csrf_token %}
        {% for ques in question %}
        <p>{{ques.question_text}}</p>

        {% for ch in choice %}
        {% if ch.question.question_text == ques.question_text %}
        <input type="radio" name="your_choice" value="{{ch.choice_text}}" />{{ch.choice_text}}
        <br />
        {% endif %}
        {% endfor %}
        {% endfor %}
        <br />
        <input type="submit" value="submit" />

    </form>
</body>
</html>